/* color variable definitions */
:root {
    --background-color: radial-gradient(circle at top, hsl(333, 88%, 65%), #F11A7B);
    --button-color: #982176;
    --text-color: #FFE5AD;
    --box-shadow-color: hsl(317, 64%, 50%);
    --button-hover-color: hsl(317, 64%, 40%);
}

/* reset default styles */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* neon theme styling */

.middle {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}

h1,
h2 {
    color: transparent;
    background: var(--background-color);
    background-clip: text;
    font-size: 5rem;
    box-shadow: 0 0 25px hsl(333, 88%, 60%);
    border-radius: 1rem;
    padding: 25px;
}

h1 {
    margin-top: -10rem;
}

h2 {
    font-size: 4rem;
}

input {
    padding: 1rem;
    font-size: 1.25rem;
    border: none;
    border-radius: 0.7rem 0 0 0.7rem;
    outline: none;
    box-shadow: 0 0 0.5rem var(--box-shadow-color);
    background-color: hsl(41, 100%, 94%);
    margin-top: 2rem;
}

input:focus {
    box-shadow: 0 0 0.8rem var(--box-shadow-color);
}

#submit-btn {
    padding: 1rem;
    font-size: 1.25rem;
    background-color: var(--button-color);
    border: none;
    color: var(--text-color);
    margin-left: -4px;
    border-radius: 0 0.7rem 0.7rem 0;
    box-shadow: 0 0 0.5rem var(--box-shadow-color);
    margin-top: 2rem;
}

.greeting {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 10rem;
    width: 100vw;
    height: 100vh;
}

form {
    margin-top: -35rem;
}

p,
#cookie {
    font-size: 1.25rem;
    margin: 1rem;
    display: block;
    width: 100%;
    margin: 2rem;
}

#cookie {
    animation: winner 1s ease-in-out 0.2s infinite;
    font-size: 2rem;
}

ul {
    width: 50%;
    margin: 0 auto;
    list-style-type: disc;
    list-style-position: inside;
    padding: 0;
    text-align: left;
    line-height: 2rem;
}

span {
    margin-top: 2rem;
}

/* body style */

body {
    text-align: center;
    color: var(--text-color);
    background: hsl(0, 0%, 5%);
    overflow: hidden;
}

/* game design */
/* .container {
    margin: -1rem auto;
    height: 65vh;
    width: 45vw;
} */

.game {
    padding: 4rem;
    margin: 2rem auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    height: 25rem;
    gap: 0.3rem;
    width: 25rem;
}

.box {
    border-radius: 0.3rem;
    border: none;
    box-shadow: 0 0 0.7rem var(--box-shadow-color);
    font-size: 8vmin;
    color: var(--text-color);
    background-color: hsl(41, 100%, 94%);
    margin: 0;
    height: 100%;
    width: 100%;
}

/* hovers, animations, styling */
button {
    padding: 1rem;
    font-size: 1.25rem;
    background-color: var(--button-color);
    color: var(--text-color);
    border-radius: 0.7rem;
    box-shadow: 0 0 0.3rem var(--box-shadow-color);
    border: none;
    margin-bottom: 2rem;
}

#new-game-btn {
    margin-top: 2rem;
}

#x-btn,
#o-btn,
#okay-btn {
    padding: 1rem 2.5rem 1rem 2.5rem;
    margin: 1rem;
    font-size: 1rem;
}

.box:hover {
    background-color: hsl(41, 100%, 90%);
    cursor: pointer;
}


button:hover {
    background-color: var(--button-hover-color);
    cursor: pointer;
}

#x-btn:hover,
#o-btn:hover {
    transform: scale(1.1);
}

/* animations */

@keyframes winner {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.5);
    }
}

@keyframes title-ani {
    0% {
        opacity: 0;
        transform: translateX(0);
    }

    25% {
        opacity: 0.25;
        transform: transformX(-10rem);
    }

    50% {
        opacity: 0.5;
        transform: transformX(-20rem);
    }

    75% {
        opacity: 0.75;
        transform: transformX(-30rem);
    }

    100% {
        opacity: 1;
        transform: translateX(-45rem);
    }
}

@keyframes input-ani {
    0% {
        opacity: 0;
        transform: translateX(0);
    }

    25% {
        opacity: 0.25;
        transform: transformX(10rem);
    }

    50% {
        opacity: 0.5;
        transform: transformX(20rem);
    }

    75% {
        opacity: 0.75;
        transform: transformX(30rem);
    }

    100% {
        opacity: 1;
        transform: translateX(45rem);
    }
}

#block {
    width: 80%;
    display: block;
}

.hide {
    display: none !important;
}

.rule{
    box-shadow: 0 0 20px hsl(0, 0%, 20%);
    border-radius: 1rem;
    padding: 1rem 0;
}

#rules-btn {
    padding: 1rem 2.5rem;
}

#reset-btn{
    margin-left: 2rem;
}

#dial-okay-btn {
    margin-top: 0.8rem;
    padding: 0.7rem 1rem;
}

#dialog-box{
    background-color: hsl(0, 0%, 5%);
    overflow: hidden;
    color: var(--text-color);
    border: none;
    box-shadow: 0 0 20px hsl(0, 0%, 20%);
    border-radius: 1rem;
    width: 90%;
    height: 75%;
    position: absolute;
    top: 5%;
    left: 5%;
}